body {
    text-align: center;
    background-color: aqua;
}

h1 {
    font-size: 36px;
}

.container {
    transform: scale(0.75);
    transform-origin: top left;
    width: 125%;
    height: 125%;
    display: flex;
    justify-content: center;    
}

.state-info {
    width: 30%;
    padding: 20px;
    text-align: left;
    background-color: beige;
    border-radius: 20px;
    padding: 10px 30px;
    margin: auto 100px;
}

.india-map-container {
    object-fit: contain;
}

.state-pointer {
    cursor: pointer;
}