body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    line-height: 30px;
}

h1 {
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 5px;
}

.input-field {
    border-radius: 10px;
    padding: 10px;
}

.input-field.invalid {
    border: 2px solid red;
}

.input-label {
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
}